@using Metal_Archives.Models;
@model UserModel
@{
    ViewBag.Title = "User Page  " + @Session["username"];
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<p> @Model.FullName </p>
<p> @Model.Age </p>
<p> @Model.Country </p>