@using Metal_Archives.Models;
@model BandModel
@{
    ViewBag.Title = "Band";
}

<h2>@Model.Name</h2>
<img  class="img-thumbnail" src="@Model.Logo"alt="@Model.Name"  height="300" width="300" />
<table style="width:100%">
    <tr>
        <th>Country</th>
        <th>Location</th>
        <th>Status</th>
        <th>Formed In</th>
        <th>Genre</th>
        <th>Lyrical Theme</th>
        <th>Current label</th>
    </tr>

    <tbody></tbody>
        <tr>
            <td>@Model.Country</td>
            <td>@Model.Place </td>
            <td>@Model.Status </td>
            <td>@Model.Formed.ToShortDateString() </td>
            <td>@Model.Genre </td>
        </tr>
    </table>
<br>
<p>@Model.Description</p>
<br>
<br>
<table style="width:50%">
    <tr>
        <th>Album Name</th>
        <th>Type</th>
        <th>Release Date</th>
    </tr>
    <tbody></tbody>
        @foreach (AlbumModel Album in Model.Albums)
        {
        <tr>
            <td>@Album.Name</td>
            <td>@Album.Type </td>
            <td>@Album.Release.ToShortDateString() </td>
        </tr>
        }
</table>
<br>
<table style="width:20%">
    <tr>
        <th>Stage name</th>
        <th>Real Name</th>
    </tr>
    <tbody></tbody>
    @foreach (ArtistModel Artist in Model.Members)
    {
        <tr>
            <td>@Artist.StageName</td>
            <td>@Artist.FullName</td>
        </tr>
    }
</table>





